
body {
    background-color: lightgray;
}

.blue-text {
    color: blue;
    font-size: 20px;
}

.green-text {
    color: green;
    font-size: 18px;
}

h1 {
    color: navy;
}

h2 {
    color: darkred;
}
